<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Complementary Education - mvalladares</title>
    <link rel="stylesheet" href="./../assets/css/style.css">

</head>
<body>
   <div class="header">
        <h1>Complementary Education</h1>
    </div>

    <div class="navbar">
        <a href="index.html">Home</a>
        <a href="aboutme.html">About Me</a>
        <a href="education.html">Studies</a>
        <a href="complementary.html" class="active">Complementary Education</a>
        <a href="work.html">Work Experience</a>
        <a href="projects.html">My Projects</a>
    </div>

    <div class="background">

        <div class="wrapper">

            <div class="box">
                <h2>Web50x.ni | Fundacion Uno</h2>
                <p>Web50x.ni Web Programming course taught by Fundacion Uno in collaboration with Harvard University.</p>
                <p>2021 -- Present.</p>
            </div>

            <div class="box">
                <h2>English for Call Centers | Keiser University Language Institute</h2>
                <p>English for Call Centers program sponsored by Carcip Nicaragua in Collaboration with Keiser University Language Institute.</p>
                <p>2020 -- 2021.</p>
            </div>

            <div class="box">
                <h2>Android Certified Application Developer | Tecnasa U Learning Centers</h2>
                <p>Android Certified Application Developer sponsored by Advanced Training Consultants and Tecnasa U Learning Centers.</p>
                <p><b>Android ATC ID: ATCW1000035.</b></p>
                <p>2020.</p>
            </div>

            <div class="box">
                <h2>CS50x.ni | Fundacion Uno</h2>
                <p>CS50x.ni programming course taught by Fundacion Uno in collaboration with Harvard University.</p>
                <p>2019.</p>
            </div>

            <div class="box">
                <h2>Math Portal | Fundacion Uno</h2>
                <p>Preparation course in Mathematics taught by Fundacion Uno.</p>
                <p>2019.</p>
            </div>

            <div class="box">
                <h2>Scientific Innovation Fair | MINED Nicaragua</h2>
                <p>Recognition of the first place at the Center, District and Municipality level.</p>
                <p>2019.</p>
            </div>
        </div>

    </div>

    <div class="footer">
        <p>Powered by @marstoff</p>
    </div>

</body>
</html>