<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Studies - mvalladares</title>
    <link rel="stylesheet" href="./../assets/css/style.css">

</head>
<body>
    <div class="header">
        <h1>Studies</h1>
        <h3>Margarita Concepcion Valladares Membreño</h3>
    </div>

    <div class="navbar">
        <a href="index.html">Home</a>
        <a href="aboutme.html">About Me</a>
        <a href="education.html" class="active">Studies</a>
        <a href="complementary.html">Complementary Education</a>
        <a href="work.html">Work Experience</a>
        <a href="projects.html">My Projects</a>
    </div>

    <div class="background">

        <div class="wrapper">

            <div class="box">
                <h2>Studies | University</h2>
                <h3>National Engineering University (UNI)</h3>
                <p>University located at Managua, Nicaragua.</p>
                <p><b>Computer Engineering.</b></p>
                <p>2020 - Present.</p>
                <p>Link to the university <a href="https://uni.edu.ni/#/">website.</a></p>
            </div>

            <div class="box">
                <h2>Studies | High School</h2>
                <h3>Enrique Flores Guevara Institute.</h3>
                <p>High-school located at Managua, Nicaragua.</p>
                <p>2015 - 2019</p>
                <p><b>Bachelor Degree.</b></p>
            </div>

            <div class="box">
                <h2>Studies | Primary School</h2>
                <h3>Hermosa Rosa de Saron College.</h3>
                <p>College located at Managua, Nicaragua.</p>
                <p>2008 - 2014.</p>
                <p><b>Primary School Degree.</b></p>
            </div>


        </div>
    </div>

    <div class="footer">
        <p>Powered by @marstoff</p>
    </div>

</body>
</html>