<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Work Experience - mvalladares</title>
    <link rel="stylesheet" href="./../assets/css/style.css">

</head>
<body>
    <div class="header">
        <h1>Work Experience</h1>
        <p>Margarita Concepcion Valladares Membreño</p>
    </div>

  <div class="navbar">
    <a href="index.html">Home</a>
    <a href="aboutme.html">About Me</a>
    <a href="education.html">Studies</a>
    <a href="complementary.html">Complementary Education</a>
    <a href="work.html" class="active">Work Experience</a>
    <a href="projects.html">My Projects</a>
  </div>


  <div class="background">

      <div class="wrapper">

          <div class="box">
              <h2>Course Assistant | CS50x.ni</h2>
              <p><b>Located in Managua, Nicaragua.</b></p>
              <p>Guide and support the students of the CS50x.ni program with their assignments and explanations of the content taught in the course.</p>
              <p>2020 -- Present.</p>
          </div>

      </div>

  </div>

   <div class="footer">
    <p>Powered by @marstoff</p>
  </div>

</body>
</html>